In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('keepers.csv')

In [3]:
df.sort_values(by='Tier')

,Player,Team,Position,Salary,?,Floor,Points,Ceiling,Uncertainty,VOR,Tier,AAV
8,Myles Garrett,Cle,DE,9,1,68.8,75.5,82.0,69.0,-7.75,1.0,10.60
10,Justin Tucker,Bal,K,6,9,148.0,157.0,169.0,3.0,14.70,1.0,5.04
5,Darius Leonard,Ind,LB,11,7,104.0,109.0,113.0,27.0,-24.50,2.0,9.67
7,Jamal Adams,Sea,S,10,5,99.7,101.0,103.0,17.0,-9.34,2.0,7.32
0,Christian McCaffrey,Car,RB,53,9,223.0,247.0,310.0,20.0,100.00,3.0,59.90
...,...,...,...,...,...,...,...,...,...,...,...,...
13,Mac Jones,NE,QB,1,2,234.0,262.0,283.0,60.0,-65.10,8.0,4.19
14,Brandon Aiyuk,SF,WR,1,2,107.0,123.0,144.0,63.0,-12.60,8.0,6.43
15,Melvin Gordon III,Den,RB,1,2,118.0,133.0,154.0,27.0,-14.90,9.0,8.05
12,Myles Gaskin,Mia,RB,1,2,16.6,35.4,79.9,80.0,-112.00,15.0,2.49
1,Calvin Ridley,Atl,WR,27,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

### Find cities and towns in both Texas and Tennesses

In [4]:
tx = pd.read_csv('tx.csv')

In [5]:
tn = pd.read_csv('tn.csv')

In [6]:
tn.head()

,Name,County(ies),Population (2020 Census),Area (as of 2010),Form of municipal charter,Incorporation date,Region
0,Adams,Robertson County,633,2.68 sq mi (6.9 km2),Uniform manager-commission,1963,Middle
1,Adamsville,McNairy County\nHardin County,"2,207",6.91 sq mi (17.9 km2),Private act,1869,West
2,Alamo,Crockett County,"2,461",2.2 sq mi (5.7 km2),Private act,1911,West
3,Alcoa,Blount County,"10,978",15.66 sq mi (40.6 km2),Private act,1919,East
4,Alexandria,DeKalb County,966,2.02 sq mi (5.2 km2),Private act,1848,Middle

In [7]:
tx.head()

,2010 Rank,Name,Government,Population (2010 Census),Population (2020 Census),Change,Main County,Other Counties
0,1053.0,Abbott,city,356,352,−1.12%,Hill,NaN
1,474.0,Abernathy,city,"2,805","2,865",+2.14%,Hale,Lubbock
2,25.0,Abilene,city,"117,063","125,182",+6.94%,Taylor,Jones
3,1137.0,Ackerly,city,220,264,+20.00%,Dawson,Martin
4,179.0,Addison,town,"13,056","16,661",+27.61%,Dallas,NaN

In [8]:
both = pd.merge(tx, tn, how='inner', on='Name')

In [9]:
tx.shape

(1221, 8)

In [10]:
tn.shape

(345, 7)

In [11]:
both.shape

(54, 14)

In [15]:
display.max_rows = 100
display.max_columns = 20

In [17]:
print(both)

    2010 Rank            Name Government Population (2010 Census)  \
0       133.0           Alamo       city                   18,353
1         7.0       Arlington       city                  365,438
2       184.0          Athens       city                   12,710
3       631.0        Bartlett       city                    1,623
4       683.0           Bells       town                    1,392
5       697.0       Big Sandy       town                    1,343
6        16.0     Brownsville       city                  175,023
7       272.0        Carthage       city                    6,779
8        67.0      Cedar Hill       city                   45,028
9       292.0          Celina       city                    6,028
10      821.0     Centerville       city                      892
11      614.0       Charlotte       city                    1,715
12      426.0     Clarksville       city                    3,285
13      248.0       Cleveland       city                    7,675
14      418.0         Clifton       city                    3,442
15     1111.0       Covington       city                      269
16      803.0    Cross Plains       town                      982
17      258.0          Dayton       city                    7,242
18      290.0         Decatur       city                    6,042
19      257.0        Fairview       town                    7,248
20     1118.0    Fayetteville       city                      258
21      641.0        Franklin       city                    1,564
22     1017.0        Gallatin       city                      419
23       12.0         Garland       city                  226,876
24      173.0       Henderson       city                   13,712
25       73.0      Huntsville       city                   38,548
26      359.0       Jacksboro       city                    4,511
27      251.0          Jasper       city                    7,590
28      625.0    Johnson City       city                    1,656
29      735.0       Lexington       town                    1,177
30      236.0         Liberty       city                    8,397
31      577.0          Linden       city                    1,988
32      326.0      Livingston       town                    5,335
33      366.0    Madisonville       city                    4,396
34      559.0           Mason       city                    2,114
35      534.0         Memphis       city                    2,290
36      907.0   Mountain City       city                      648
37      156.0  Mount Pleasant       city                   15,564
38      919.0        New Hope       town                      614
39     1176.0       Oak Ridge       town                      141
40      974.0       Oak Ridge       town                      495
41      574.0          Palmer       town                    2,000
42      109.0           Paris       city                   25,171
43      726.0      Petersburg       city                    1,202
44      120.0       Plainview       city                   22,194
45      162.0        Portland       city                   15,099
46      394.0      Smithville       city                    3,817
47      688.0      Somerville       city                    1,376
48      510.0         Stanton       city                    2,492
49      205.0      Sweetwater       city                   10,906
50      914.0         Trenton       city                      635
51      626.0            Troy       city                    1,645
52      115.0         Watauga       city                   23,497
53      953.0        Winfield       city                      524

   Population (2020 Census)    Change   Main County Other Counties  \
0                    19,493    +6.21%       Hidalgo            NaN
1                   394,266    +7.89%       Tarrant            NaN
2                    12,857    +1.16%     Henderson            NaN
3                     1,633    +0.62%    Williamson           Bell
4                     1,521    +9.27%       Grayson            NaN
5                     1,231    −8.34%        Upshur            NaN
6                   186,738    +6.69%       Cameron            NaN
7                     6,569    −3.10%        Panola            NaN
8                    49,148    +9.15%        Dallas          Ellis
9                    16,739  +177.69%        Collin         Denton
10                      905    +1.46%          Leon            NaN
11                    1,524   −11.14%      Atascosa            NaN
12                    2,857   −13.03%     Red River            NaN
13                    7,471    −2.66%       Liberty            NaN
14                    3,465    +0.67%        Bosque            NaN
15                      261    −2.97%          Hill            NaN
16                      899    −8.45%      Callahan            NaN
17                    8,777   +21.20%       Liberty            NaN
18                    6,538    +8.21%          Wise            NaN
19                   10,372   +43.10%        Collin            NaN
20                      246    −4.65%       Fayette            NaN
21                    1,614    +3.20%     Robertson            NaN
22                      434    +3.58%      Cherokee            NaN
23                  239,928    +5.75%        Dallas         Collin
24                   13,154    −4.07%          Rusk            NaN
25                   42,241    +9.58%        Walker            NaN
26                    4,384    −2.82%          Jack            NaN
27                    7,551    −0.51%        Jasper            NaN
28                    2,131   +28.68%        Blanco            NaN
29                    1,222    +3.82%           Lee            NaN
30                    9,314   +10.92%       Liberty            NaN
31                    1,915    −3.67%          Cass            NaN
32                    5,242    −1.74%          Polk            NaN
33                    4,685    +6.57%       Madison            NaN
34                    2,305    +9.04%         Mason            NaN
35                    2,012   −12.14%          Hall            NaN
36                      810   +25.00%          Hays            NaN
37                   15,978    +2.66%         Titus            NaN
38                      628    +2.28%        Collin            NaN
39                      242   +71.63%         Cooke            NaN
40                      742   +49.90%       Kaufman            NaN
41                    2,123    +6.15%         Ellis            NaN
42                   24,847    −1.29%         Lamar            NaN
43                    1,132    −5.82%          Hale            NaN
44                   20,143    −9.24%          Hale            NaN
45                   17,268   +14.37%  San Patricio         Nueces
46                    4,515   +18.29%       Bastrop            NaN
47                    1,465    +6.47%      Burleson            NaN
48                    3,000   +20.39%        Martin            NaN
49                   10,469    −4.01%         Nolan            NaN
50                      683    +7.56%        Fannin            NaN
51                    2,016   +22.55%          Bell            NaN
52                   24,481    +4.19%       Tarrant            NaN
53                      520    −0.76%         Titus            NaN

                                          County(ies)  \
0                                     Crockett County
1                                       Shelby County
2                                       McMinn County
3                                       Shelby County
4                                     Crockett County
5                                       Benton County
6                                      Haywood County
7                                        Smith County
8                                    Robertson County
9                                         Clay County
10                                     Hickman County
11                                     Dickson County
12                                  Montgomery County
13                                     Bradley County
14                                       Wayne County
15                                      Tipton County
16                                   Robertson County
17                                        Rhea County
18                                       Meigs County
19                                  Williamson County
20                                     Lincoln County
21                                  Williamson County
22                                      Sumner County
23                                      Tipton County
24                                     Chester County
25                                       Scott County
26                                    Campbell County
27                                      Marion County
28  Washington County\nCarter County\nSullivan County
29                                   Henderson County
30                                      DeKalb County
31                                       Perry County
32                                     Overton County
33                                      Monroe County
34                                      Tipton County
35                                      Shelby County
36                                     Johnson County
37                                       Maury County
38                                      Marion County
39                      Anderson County\nRoane County
40                      Anderson County\nRoane County
41                                      Grundy County
42                                       Henry County
43                    Lincoln County\nMarshall County
44                                       Union County
45                                      Sumner County
46                                      DeKalb County
47                                     Fayette County
48                                     Haywood County
49                       Monroe County\nMcMinn County
50                                      Gibson County
51                                       Obion County
52                                      Carter County
53                                       Scott County

   Population\n(2020 Census)       Area\n(as of 2010)  \
0                      2,461      2.2 sq mi (5.7 km2)
1                     14,549   23.07 sq mi (59.8 km2)
2                     14,084   13.98 sq mi (36.2 km2)
3                     57,786   26.67 sq mi (69.1 km2)
4                      2,437     2.33 sq mi (6.0 km2)
5                        557     0.71 sq mi (1.8 km2)
6                      9,788      10.2 sq mi (26 km2)
7                      2,306     2.86 sq mi (7.4 km2)
8                        314     0.69 sq mi (1.8 km2)
9                      1,495      1.7 sq mi (4.4 km2)
10                     3,644   11.31 sq mi (29.3 km2)
11                     1,235     1.74 sq mi (4.5 km2)
12                   166,722  98.28 sq mi (254.5 km2)
13                    47,356      26.9 sq mi (70 km2)
14                     2,694    6.93 sq mi (17.9 km2)
15                     8,663   11.44 sq mi (29.6 km2)
16                     1,714    8.49 sq mi (22.0 km2)
17                     7,065    7.88 sq mi (20.4 km2)
18                     1,598        3 sq mi (7.8 km2)
19                     9,357   16.92 sq mi (43.8 km2)
20                     7,068   10.96 sq mi (28.4 km2)
21                    83,454  41.45 sq mi (107.4 km2)
22                    44,431   31.75 sq mi (82.2 km2)
23                       310     0.58 sq mi (1.5 km2)
24                     6,308    7.86 sq mi (20.4 km2)
25                     1,248    3.93 sq mi (10.2 km2)
26                     2,020     2.54 sq mi (6.6 km2)
27                     3,279    9.47 sq mi (24.5 km2)
28                    71,046  43.27 sq mi (112.1 km2)
29                     7,956   12.42 sq mi (32.2 km2)
30                       310     1.12 sq mi (2.9 km2)
31                       908     1.01 sq mi (2.6 km2)
32                     4,058    6.47 sq mi (16.8 km2)
33                     5,132    6.21 sq mi (16.1 km2)
34                     1,609     2.09 sq mi (5.4 km2)
35                   633,104      324 sq mi (840 km2)
36                     2,531     3.31 sq mi (8.6 km2)
37                     4,561   12.32 sq mi (31.9 km2)
38                     1,082      10.4 sq mi (27 km2)
39                    31,402  89.98 sq mi (233.0 km2)
40                    31,402  89.98 sq mi (233.0 km2)
41                       672    4.94 sq mi (12.8 km2)
42                    10,316   13.03 sq mi (33.7 km2)
43                       544     0.94 sq mi (2.4 km2)
44                     2,125       6.5 sq mi (17 km2)
45                    13,156   14.28 sq mi (37.0 km2)
46                     5,004    5.91 sq mi (15.3 km2)
47                     3,094   12.53 sq mi (32.5 km2)
48                       452     0.51 sq mi (1.3 km2)
49                     6,312    8.52 sq mi (22.1 km2)
50                     4,264       8.2 sq mi (21 km2)
51                     1,371     1.49 sq mi (3.9 km2)
52                       458     0.83 sq mi (2.1 km2)
53                       967    6.35 sq mi (16.4 km2)

     Form of municipal charter  Incorporation\ndate  Region
0                  Private act                 1911    West
1               Mayor-alderman                 1900    West
2                  Private act                 1870    East
3                  Private act                 1866    West
4                  Private act                 1889    West
5                  Private act                 1903    West
6                  Private act                 1870    West
7                  Private act                 1804  Middle
8   Uniform manager-commission                 1870  Middle
9                  Private act                 1846  Middle
10                 Private act                 1853  Middle
11                 Private act                 1804  Middle
12                 Private act                 1807  Middle
13                 Private act                 1842    East
14  Uniform manager-commission                 1856  Middle
15                 Private act                 1826    West
16  Uniform manager-commission                 1973  Middle
17                 Private act                 1903    East
18                 Private act                 1838    East
19  Uniform manager-commission                 1959  Middle
20                 Private act                 1819  Middle
21                 Private act                 1799  Middle
22                 Private act                 1801  Middle
23                 Private act                 1913    West
24                 Private act                 1869    West
25              Mayor-alderman                 1856    East
26              Mayor-alderman                 1967    East
27              Mayor-alderman                 1852    East
28                   Home rule                 1869    East
29                 Private act                 1824    West
30                 Private act                 1850  Middle
31                 Private act                 1850  Middle
32                 Private act                 1907  Middle
33                 Private act                 1866    East
34                 Private act                 1869    West
35                   Home rule                 1826    West
36                 Private act                 1905    East
37  Uniform manager-commission                 1824  Middle
38              Mayor-alderman                 1974    East
39                   Home rule                 1962    East
40                   Home rule                 1962    East
41                 Private act                 1925  Middle
42  Uniform manager-commission                 1849    West
43                 Private act                 1837  Middle
44              Mayor-alderman                 1992    East
45                 Private act                 1905  Middle
46                 Private act                 1843  Middle
47                 Private act                 1854    West
48                 Private act                 1927    West
49                   Home rule                 1901    East
50                 Private act                 1846    West
51                 Private act                 1901    West
52  Uniform manager-commission                 1960    East
53              Mayor-alderman                 1983    East